/* CSS for XBlockControlledNavigation */

.controlled-navigation-block {
    display: grid;
}

.button-container {
    margin: 40px 0;
}

.prev-button {
    float: left;
}

.next-button {
    float: right;
}