{% load i18n %}

<div class="controlled-navigation-block">
    <div>
        {{ child_content | safe }}
    </div>
    <div class="button-container">
        {% if not block.forward_navigation_only and not is_first_child %}
            <button class="prev-button" id="prev">{% trans block.prev_button_text %}</button>
        {% endif %}
        {% if not is_last_child %}
            <button class="next-button" id="next">{% trans block.next_button_text %}</button>
        {% endif %}
    </div>
</div>

<!--
This is a simplified version of this script:
https://github.com/openedx/edx-platform/blob/master/lms/templates/courseware/courseware-chromeless.html#L119-L217

The script is responsible for resizing the iframe containing the controlled navigation block.
By default, in edx-platform, the script is loaded in the courseware-chromeless.html template,
however, in chromium based browsers, the script is not executed when navigating between child
components. So, we need to include the script manually.
-->
<script type="text/javascript">
    (function () {
        if (window !== window.parent) {
            document.body.className += " view-in-mfe";
            var contentElement = document.getElementById("content");

            function dispatchResizeMessage(event) {
                var newHeight = contentElement.offsetHeight;
                var newWidth = contentElement.offsetWidth;

                window.parent.postMessage(
                    {
                        type: "plugin.resize",
                        payload: {
                            width: newWidth,
                            height: newHeight,
                        },
                    },
                    "*"
                );
            }
            const observer = new MutationObserver(dispatchResizeMessage);
            observer.observe(document.body, { attributes: true, childList: true, subtree: true });

            window.addEventListener("load", dispatchResizeMessage);

            const resizeObserver = new ResizeObserver(dispatchResizeMessage);
            resizeObserver.observe(document.body);
        }
    })();
</script>
